body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.octicon-link {
    display: none;
}

.container {
    padding-top: 10px;
}

.glyphicon-download {
    color: white;
}

.glyphicon-file {
    color: lightgrey;
    padding-right: 5px;
}

.hoverable-file-list .list-group-item:not(:first-child):hover {
    background-color: #f5f5f5;
}